@page "/labeltypeIndex"
@using OSD.SysMapper.Components.DisplayViewLabelType

@inject IViewLabelTypeRepository ViewLabelTypeRepository
@inject NavigationManager NavigationManager

<h3>Label Types</h3>
 <DisplayViewLabelTypeScreen></DisplayViewLabelTypeScreen>
 


 
@code {
 
}