@page "/resourcetypeIndex"
@using OSD.SysMapper.Components.DisplayViewResourceType

@inject IViewResourceTypeRepository ViewLabelResourceRepository
@inject NavigationManager NavigationManager

<h3>Resource Types</h3>
<DisplayViewResourceTypeScreen></DisplayViewResourceTypeScreen>
 


 
@code {
 
}