<div class="container">
     <AuthorizeView Roles="admin">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Search LifeCycles
                </div>
                <div class="card-body">
                        <h5 class="card-title">Search existing  LifeCycles</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="lifecycleIndex" class="btn btn-primary">Search</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Search Categories
                </div>
                <div class="card-body">
                    <h5 class="card-title">Search existing Categories</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="categoryIndex" class="btn btn-primary">Search</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Search Organizations</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="ouIndex" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
    </AuthorizeView>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Blazor Bootstrap
                </div>
                <div class="card-body">
                    <h5 class="card-title">Blazor Radzen</h5>
                    <p class="card-text">Over 60Free Components</p>
                    <a href="https://blazor.radzen.com/get-started" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Table Sorting
                </div>
                <div class="card-body">
                    <h5 class="card-title">Create Sortable Tables</h5>
                    <p class="card-text">Example code for writing a sortable table.</p>
                    <a href="https://www.thecodehubs.com/sorting-table-in-blazor/" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>        
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Table Pagination
                </div>
                <div class="card-body">
                    <h5 class="card-title">Create Table Pagination</h5>
                    <p class="card-text">Example code for writing a pagination for a table.</p>
                    <a href="https://www.thecodehubs.com/pagination-in-blazor/" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
    
    
    
-->
@code {

}
