
<div class="input-group mb-3 flex-wrap">
    <input type="text"
           class="form-control"
           placeholder="@Title"
           @bind-value="filter" />
    <div class="input-group-prepend">
        <button type="button"
                @onclick="HandleSearch">
            Search
        </button>
    </div>
</div>
 
@code {

    [Parameter]
    public string Title { get; set; } = string.Empty;
    [Parameter]
    public EventCallback<string> OnSearch { get; set; }
    public  string filter { get; set; } = "";
    private async void HandleSearch()
    {
        await OnSearch.InvokeAsync(filter);
    }

}
