@page "/resourcemapIndex"
@using OSD.SysMapper.Components.DisplayViewResourceMap

@inject IViewResourceTypeRepository ViewLabelResourceRepository
@inject NavigationManager NavigationManager

<h3>Resource Maps</h3>
<DisplayViewResourceMapScreen></DisplayViewResourceMapScreen>
 


 
@code {
 
}