@page "/ouIndex"
@using OSD.SysMapper.Components.DisplayViewOu

@inject IViewOuRepository ViewOuRepository
@inject NavigationManager NavigationManager

<h3>Organizational Units</h3>
 <DisplayViewOuScreen></DisplayViewOuScreen>
 


 
@code {
 
}