@page "/lifecycleIndex"
@using OSD.SysMapper.Components.LifeCycle.DisplayViewLifeCycle

@inject IViewLifeCycleRepository ViewLifeCycleRepository
@inject NavigationManager NavigationManager

<h3>LifeCycles</h3>
 <DisplayViewLifeCycleScreen></DisplayViewLifeCycleScreen>
 


 
@code {
 
}