@page "/labelmapIndex"
@using OSD.SysMapper.Components.DisplayViewLabelMap

@inject IViewLabelMapRepository ViewLabelMapRepository
@inject NavigationManager NavigationManager

<h3>Label Maps</h3>
 <DisplayViewLabelMapScreen></DisplayViewLabelMapScreen>
 


 
@code {
 
}