@page "/tagIndex"
@using OSD.SysMapper.Components.DisplayViewTag

@inject IViewTagRepository ViewTagRepository
@inject NavigationManager NavigationManager

<h3>Tags</h3>
 <DisplayViewTagScreen></DisplayViewTagScreen>
 


 
@code {
 
}