@page "/categoryIndex"
@using OSD.SysMapper.Components.Category.DisplayViewCategory

@inject IViewOuRepository ViewOuRepository
@inject NavigationManager NavigationManager

<h3>Categories</h3>
 <DisplayViewCategoryScreen></DisplayViewCategoryScreen>
 
 
 
@code {
 
}