@using OSD.SysMapper.Components.Shared
@inherits LayoutComponentBase
 
 
<div class="page  w-100">
    
     <TopMenu/>
    <RadzenDialog />
    <main>

        <div class="bg-light p-5 w-100">
            @Body
        </div>
    </main>
 </div>