@page "/"
@using Microsoft.Extensions.Logging
@using OSD.SysMapper.Components.Category
@inject ILogger<Category> Logger
<h1>Hello, world!</h1>

Welcome to your new app.
 
 <CreateCategory></CreateCategory>
 
@code {
  
}